/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  display: flex;
  font-size: 10vw;
  font-family: "Bevan", cursive;
  color: #f2ec80;
  letter-spacing: 0.1vw;
}

h2 {
  font-family: "Prompt", sans-serif;
  color: #f2ec80;
  font-size: 7vw;
  margin-top: 2vh;
}

p.large {
  font-size: 3vw;
}

p {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 1.5em;
  }
}

body {
  font-family: "Prompt", sans-serif;
  color: white;
  background: transparent;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20vw;
  height: 100vh;
  scroll-snap-align: start;
}

.container {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

/* #intro */

#logo-10for10 {
  margin-top: 25vh;
  height: 20vh;
  /*       border-radius: 5vh; */
}

#book-easter-egg {
  background-color: transparent;
  opacity: 0;
  height: 25vh;
  transition: 3s;
}

#book-easter-egg:hover {
  opacity: 1;
}

.orange-gradient {
  background: linear-gradient(225deg, #dca043, #bc443f);
}

/* About */

.black {
  background: black;
}

/* #rating */

.stars-container {
  display: none;
}

@media screen and (min-width: 600px), (min-height: 500px) {
  .stars-container {
    display: flex;
    justify-content: center;
    -webkit-animation-name: Stars;
    animation-name: Stars;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 10vh;
    width: 30vw;
  }
  @-webkit-keyframes Star {
    0% {
      top: -5vh;
      transform: rotate(5deg);
    }
    100% {
      top: 5vh;
      transform: rotate(-5deg);
    }
  }
  @keyframes Star {
    0% {
      top: -5vh;
      transform: rotate(5deg);
    }
    100% {
      top: 5vh;
      transform: rotate(-5deg);
    }
  }
}

.star {
  /*   position: relative; */
  width: 15vw;
  -webkit-animation: Star 10s infinite linear alternate;
  animation: Star 10s infinite linear alternate;
  /*     animation-direction: alternate; */
}

/* @keyframes Star {
  0% {
    top: -5vh;
    transform: rotate(5deg);
  }
  100% {
    top: 5vh;
    transform: rotate(-5deg);
  }
} */

.red {
  background: red;
}

